
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href="index.html" class="navbar-brand p-0">
        <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>DentCare</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="index.html" class="nav-item nav-link" routerLink="/docdash">Patient</a>
            <a href="about.html" class="nav-item nav-link" routerLink="/docdash">Back</a>
              
        </div>
        <!-- <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
        <a href="#" routerLink="/appointment" class="btn btn-primary py-2 px-4 ms-3">Appointment</a> -->
    </div>
</nav>



<div class="container">
    <h2 class="text-center">Patient Deatails</h2>
    <div class="row">

        <label for=""> ID: <b>{{patient.id}}</b> </label> <hr>
        <label for=""> Name: <b>{{patient.name}}</b> </label> <hr>
        <label for=""> Blood Group: <b>{{patient.blood_group}}</b> </label> <hr>
        <label for=""> ID: <b>{{patient.prescription}}</b> </label> <hr>
        <label for=""> ID: <b>{{patient.urgency}}</b> </label> <hr>
        <label for=""> ID: <b>{{patient.fees}}</b> </label><hr>
        
      
    </div>
</div>
            

   
